<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>001C语言结构.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>002基本数据类型.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>002浮点数科学计数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>003Printf函数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>004Scanf函数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>005运算符.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>006逻辑运算符.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>007逗号运算符.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>008自增减运算符.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>009Sizeof运算符.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>010赋值运算符.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>011三目运算符.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>012IF判断语句.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>013Switch判断语句.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>A01C语言基础.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F45ED3C203E039700CFD393</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F45ED4A203E03C800CFD393</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F45ED55203E040C00CFD393</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F45ED60203E04A800CFD393</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F45ED6B203EB04800CFD393</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F45ED76203EB28400CFD393</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F45ED81203EB32800CFD393</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F45ED8C203EB3C600CFD393</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F45ED97203EB4B700CFD393</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F45EDA2203EB4D900CFD393</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F45EDAD203EB50C00CFD393</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F45EDB8203EB53000CFD393</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F45EDC3203EB54300CFD393</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F45EDCE203EB58700CFD393</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F45EDD9203EB5FC00CFD393</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F7E18142048540D00F43D94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
